.App {
  /* background-image: url('./Assets/2878902.jpg'); */
  background-color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;

  /* background-image: image('./Assets/2878902.jpg'); */
}
